
# CASELIGHT
# _White_Leds_On - Case_White_leds
# Case_Status_Off - all off
# _CASELIGHT_ON - Status_Ready
# _CASELIGHT_OFF - Status_Idle
# Status_Ready - white and rainbows
# _Status_Idle - Rainbows only
# _Status_Part_Ready
# _Status_Busy
# _Status_Heating
# _Status_Cooling
# _Status_Leveling
# _Status_Homing
# _Status_Cleaning
# _Status_Meshing
# _Status_Calibrating_Z
# _Status_Printing

#####################################################################
# 	LED Control
#####################################################################

[neopixel Case_LEDs] # Case LEDs around halo
pin: PD15
chain_count: 36
color_order: GRB     # GRB, RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

[neopixel Logo_LEDs] # Bed front and side logos
pin: PE9
chain_count: 39
color_order: GRB     # GRB, RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

######################
## Case LED effects ##
######################

[led_effect Case_White_leds]
autostart:                          true
frame_rate:                         24
leds:
    neopixel:Case_LEDs (7-12,25-30)
   #neopixel:caselight
layers:
    static 0  0 top (1,1,1)

[led_effect sb_critical_error]
autostart:                             false
frame_rate:                            24
leds:
    neopixel:Case_LEDs (1-36)
    neopixel:Logo_LEDs (1-39)
layers:
    strobe         1  1.5   add        (1.0,  1.0, 1.0)
    breathing      2  0     difference (0.95, 0.0, 0.0)
    static         1  0     top        (1.0,  0.0, 0.0)
run_on_error:                          true



######################
## Logo LED effects ##
######################


[led_effect Rainbow3]
autostart:                          true
frame_rate:                         24
leds:
    neopixel:Logo_LEDs (1-14)
layers:
    gradient  0.3  1 add (0.6, 0.0, 0.0),(0.0, 0.6, 0.0),(0.0, 0.0, 0.6)

[led_effect Rainbow4]
autostart:                          true
frame_rate:                         24
leds:
    neopixel:Logo_LEDs (15-39)
layers:
    gradient  0.3  1 add (0.6, 0.0, 0.0),(0.0, 0.6, 0.0),(0.0, 0.0, 0.6)

[led_effect Logo_Rainbow1]
autostart:                          true
frame_rate:                         24
leds:
    neopixel:Logo_LEDs (1-7)
layers:
    gradient  0.3  1 add (0.6, 0.0, 0.0),(0.0, 0.6, 0.0),(0.0, 0.0, 0.6)

[led_effect Logo_Rainbow2]
autostart:                          true
frame_rate:                         24
leds:
    neopixel:Logo_LEDs (8-14)
layers:
    gradient  0.3  1 add (0.6, 0.0, 0.0),(0.0, 0.6, 0.0),(0.0, 0.0, 0.6)

[led_effect Logo_Rainbow3]
autostart:                          true
frame_rate:                         24
leds:
    neopixel:Logo_LEDs (15-39)
layers:
    gradient  0.3  1 add (0.6, 0.0, 0.0),(0.0, 0.6, 0.0),(0.0, 0.0, 0.6)

##################
## LED effects ##
##################

[led_effect Rainbow1]
autostart:                          true
frame_rate:                         24
leds:
    neopixel:Case_LEDs (1-6,13-18)
layers:
    gradient  0.3  1 add (0.6, 0.0, 0.0),(0.0, 0.6, 0.0),(0.0, 0.0, 0.6)

[led_effect Rainbow2]
autostart:                          true
frame_rate:                         24
leds:
    neopixel:Case_LEDs (19-24,31-36)
layers:
    gradient  0.3  1 add (0.6, 0.0, 0.0),(0.0, 0.6, 0.0),(0.0, 0.0, 0.6)

[led_effect Case_Logo_busy]   # Red for busy
autostart:              false
frame_rate:             24
leds:
    neopixel:Case_LEDs (1-6,13-24,31-36)
    neopixel:Logo_LEDs (1-14)
    neopixel:Logo_LEDs (15-39)
layers:
    breathing  3 1 top (1,0,0)

[led_effect Case_Logo_cleaning]  # Blue for clean
autostart:              false
frame_rate:             24
leds:
    neopixel:Case_LEDs (1-6,13-24,31-36)
    neopixel:Logo_LEDs (1-14)
    neopixel:Logo_LEDs (15-39)
layers:
    breathing  3 1 top (0.0, 0.02, 0.5)

[led_effect Case_Logo_Calibrating_Z]  # Magenta
autostart:              false
frame_rate:             24
leds:
    neopixel:Case_LEDs (1-6,13-24,31-36)
    neopixel:Logo_LEDs (1-14)
    neopixel:Logo_LEDs (15-39)
layers:
    breathing  3 1 top (0.35, 0.0, 0.35)

[led_effect Case_Logo_heating]     # Heater fire
autostart:                          false
frame_rate:                         24
leds:
    neopixel:Case_LEDs (1-6,13-24,31-36)
    neopixel:Logo_LEDs (1-14)
    neopixel:Logo_LEDs (15-39)
heater: heater_bed
layers: 
    heaterfire  0.5 0 add (0.0, 0.0, 0.0),(1.0, 0.0, 0.0),(1.0, 1.0, 0.0),(1.0, 1.0, 1.0)
    static 0 0 top (0.5,0,0)

[led_effect Case_Logo_cooling]      # Blue for cool
autostart:                          false
frame_rate:                         24
leds:
    neopixel:Case_LEDs (1-6,13-24,31-36)
    neopixel:Logo_LEDs (1-14)
    neopixel:Logo_LEDs (15-39)
layers:
    twinkle  5  0.1 add (0, 0, 1)

[led_effect Case_Logo_homing]   # Magenta
autostart:              false
frame_rate:             24
leds:
    neopixel:Case_LEDs (1-6,13-24,31-36)
    neopixel:Logo_LEDs (1-14)
    neopixel:Logo_LEDs (15-39)
layers:
    #breathing  3 1 top (0, 0.6, 0.2)
    cylon  0.5  0 add (0.5, 0.0, 0.6)

[led_effect Case_Logo_leveling]  # Magenta
autostart:              false
frame_rate:             24
leds:
    neopixel:Case_LEDs (1-6,13-24,31-36)
    neopixel:Logo_LEDs (1-14)
    neopixel:Logo_LEDs (15-39)
layers:
    breathing  3 1 top (0.5, 0.0, 0.4)

[led_effect Case_Logo_meshing]  # Magenta
autostart:              false
frame_rate:             24
leds:
    neopixel:Case_LEDs (1-6,13-24,31-36)
    neopixel:Logo_LEDs (1-14)
    neopixel:Logo_LEDs (15-39)
layers:
    linearfade  4 1 top (0.5, 0.0, 0.4)

[led_effect Case_Logo_printing]  # Red Rainbows
autostart:              false
frame_rate:             24
leds:
    neopixel:Case_LEDs (1-6,13-24,31-36)
    neopixel:Logo_LEDs (1-14)
    neopixel:Logo_LEDs (15-39)
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.3, 0.3, 0.0),(0.3, 0.1, 0.0)

[led_effect Case_Logo_standby]
autostart:              false
frame_rate:             24
leds:
    neopixel:Case_LEDs (1-6,13-24,31-36)
    neopixel:Logo_LEDs (1-14)
    neopixel:Logo_LEDs (15-39)
layers:
    breathing  3 1 top (0.1, 0.1, 0.1)

[led_effect Case_Logo_part_ready]  # Green for Go
autostart:              false
frame_rate:             24
leds:
    neopixel:Case_LEDs (1-6,13-24,31-36)
    neopixel:Logo_LEDs (1-14)
    neopixel:Logo_LEDs (15-39)
layers:
    breathing  3 1 top (0.0, 1.0, 0.0)

##############
# The Macros #
##############

[gcode_macro CASELIGHT]
gcode:
  {% set brightness = printer["neopixel Case_LEDs"].color_data[0][1] %}
  {% if brightness == 0 %}
    _CASELIGHT_ON
  {% else %}
    _CASELIGHT_OFF
  {% endif %}

[gcode_macro _CASELIGHT_ON]
gcode:
    Status_Ready
    #SET_LED_EFFECT EFFECT=Case_White_leds

[gcode_macro _CASELIGHT_OFF]
gcode:
    _Status_Idle

[gcode_macro _White_Leds_On]
gcode:
    SET_LED_EFFECT EFFECT=Case_White_leds

[gcode_macro Case_Status_Off]
gcode:
    STOP_LED_EFFECTS

[gcode_macro Status_Ready]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=Case_White_leds
    SET_LED_EFFECT EFFECT=Rainbow1
    SET_LED_EFFECT EFFECT=Rainbow2
    SET_LED_EFFECT EFFECT=Rainbow3
    SET_LED_EFFECT EFFECT=Rainbow4
    SET_LED_EFFECT EFFECT=Logo_Rainbow1
    SET_LED_EFFECT EFFECT=Logo_Rainbow2
    SET_LED_EFFECT EFFECT=Logo_Rainbow3

[gcode_macro _Status_Idle]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=Logo_Rainbow1
    SET_LED_EFFECT EFFECT=Logo_Rainbow2
    SET_LED_EFFECT EFFECT=Logo_Rainbow3

[gcode_macro _Status_Part_Ready]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=Case_White_leds
    SET_LED_EFFECT EFFECT=Case_Logo_part_ready

[gcode_macro _Status_Busy]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=Case_White_leds
    SET_LED_EFFECT EFFECT=Case_Logo_busy
    
[gcode_macro _Status_Heating]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=Case_White_leds
    SET_LED_EFFECT EFFECT=Case_Logo_heating

[gcode_macro _Status_Cooling]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=Case_White_leds
    SET_LED_EFFECT EFFECT=Case_Logo_cooling

[gcode_macro _Status_Leveling]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=Case_White_leds
    SET_LED_EFFECT EFFECT=Case_Logo_leveling
    
[gcode_macro _Status_Homing]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=Case_White_leds
    SET_LED_EFFECT EFFECT=Case_Logo_homing
    
[gcode_macro _Status_Cleaning]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=Case_White_leds
    SET_LED_EFFECT EFFECT=Case_Logo_cleaning
    
[gcode_macro _Status_Meshing]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=Case_White_leds
    SET_LED_EFFECT EFFECT=Case_Logo_meshing
    
[gcode_macro _Status_Calibrating_Z]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=Case_White_leds
    SET_LED_EFFECT EFFECT=Case_Logo_Calibrating_Z
    
[gcode_macro _Status_Printing]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=Case_White_leds
    SET_LED_EFFECT EFFECT=Case_Logo_printing
    

